/.venv
/segmenter-master
ChatGPT_4o_disagreements.csv
ChatGPT_4o_Instant_Segment_disagreements.csv
Manual2_Instant_Segment_disagreements.csv
Manual2_disagreements.csv
Manual2_ChatGPT_4o_Instant_Segment_disagreements.csv
Manual2_ChatGPT_4o_disagreements.csv
Manual1_Manual2_Instant_Segment_disagreements.csv
Manual1_Manual2_disagreements.csv
Manual1_Manual2_ChatGPT_4o_Instant_Segment_disagreements.csv
Manual1_Manual2_ChatGPT_4o_disagreements.csv
Manual1_Instant_Segment_disagreements.csv
Manual1_disagreements.csv
Manual1_ChatGPT_4o_Instant_Segment_disagreements.csv
Manual1_ChatGPT_4o_disagreements.csv
disagreements.csv
Instant_Segment_disagreements.csv
